<div class="container">
  <div class="row">
    <h2 class="my-4", style="background-color:#dcdcdc;">新規会員登録</h2>
  </div>
  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <table class="table table-borderless">
        <tr>
          <th>ニックネーム</th>
          <td>
            <%= f.text_field :name %>
          </td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td class="form"><%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %></td>
        </tr>

        <tr>
          <th>よく遊ぶゲーム機</th>
          <td class="form"><%= f.text_field :fav_machine, placeholder: "PS4、Switch" %></td>
        </tr>

        <tr>
          <th>Twitterアカウント</th>
          <td class="form"><%= f.text_field :twitter_id %></td>
        </tr>

        <tr>
          <th>Instagramアカウント</th>
          <td class="form"><%= f.text_field :instagram_id %></td>
        </tr>

        <tr>
          <th>パスワード(6文字以上)</th>
          <td class="form">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
        </tr>

        <tr>
          <th>パスワード(確認用)</th>
          <td class="form">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </td>
        </tr>
    </table>
        <div class="row">
          <div class="col text-center">
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </div>
        </div>

  <% end %>

  <div class="row">
    <h4 style="background-color:#dcdcdc">既に登録済みの方</h4>
  </div>
  <div class="row">
    <p><%= link_to "こちら",new_user_session_path %> からログインしてください。</p>
  </div>

</div>

<!--<%= render "devise/shared/links" %>-->