<div class="container">
  <div class="row">
    <h2 class="my-4", style="background-color:#dcdcdc;">記事編集</h2>
  </div>
  <%= form_with model: @article, url: article_path, method: :patch, local: true do |f| %>

    <table class="table table-borderless">
      <tr>
        <th>ゲームタイトル</th>
        <td>
          <%= f.text_field :game_name %>
        </td>
      </tr>

      <tr>
        <th>ゲーム機</th>
        <td><%= f.text_field :machine %></td>
      </tr>

      <tr>
        <th>ゲーム画像</th>
        <td><%= f.attachment_field :image %></td>
      </tr>

      <tr>
        <th>感想</th>
        <td><%= f.text_area :review, style: "width: 420px; height: 300px" %></td>
      </tr>
    </table>

    <div class="row">
      <div class="col text-center">
        <%= f.submit "変更内容を保存する", class: "btn btn-success" %>
        <%= link_to "投稿を削除する", article_path(@article), method: :delete, class: "btn btn-danger"  %>
      </div>
    </div>
  <% end %>
</div>