<div class="container">
  <div class="row">
    <h2 class="my-4", style="background-color:#dcdcdc;">新規投稿</h2>
  </div>
  <%= form_with model: @article, url: articles_path, method: :post, local: true do |f| %>

    <table class="table table-borderless">
      <tr>
        <th>ゲームタイトル</th>
        <td>
          <%= f.text_field :game_name %>
        </td>
      </tr>

      <tr>
        <th>ゲーム機</th>
        <td><%= f.text_field :machine %></td>
      </tr>

      <tr>
        <th>ゲーム画像</th>
        <td><%= f.attachment_field :image %></td>
      </tr>

      <tr>
        <th>感想</th>
        <td><%= f.text_area :review, style: "width: 400px; height: 300px" %></td>
      </tr>
    </table>

    <div class="row">
      <div class="col text-center">
        <%= f.submit "投稿する", class: "btn btn-success" %>
      </div>
    </div>

  <% end %>