<div class="container">
  <div class="row my-3">
    <h2><%= @article.game_name %>(<%= @article.machine %>)</h2>
  </div>

  <div class="row">
    <h5>[ 投稿者 ]</h5>
    <p class="ml-5">
      <%= link_to member_path(@article.user_id) do %>
        <%= @article.user.name %>
      <% end %>
    </p>
  </div>

  <div class="row">
    <%= attachment_image_tag @article, :image, :fill, 700, 400, format: 'jpg', fallback: "m_e_others_501", size: '700x400' %>
  </div>

  <div class="row mt-4">
    <p><%= @article.review %></p>
  </div>
  
  <%# 閲覧者=投稿者なら編集ボタンを表示 %>
  <% if user_signed_in? %>
    <% if @article.user_id == current_user.id %>
      <div class="row">
          <%= link_to "編集する", edit_article_path(@article), class: "btn btn-success" %>
      </div>
    <% end %>
  <% end %>

</div>