<!DOCTYPE html>
<html>
  <head>
    <title>Gamers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header" class="navbar navbar-dark bg-dark">
      <div class="container">
        <nav class="nav navbar-light navbar-left">
        <i class="fas fa-gamepad fa-2x" style="color:white;"></i>
           <%= link_to "GAMERS", root_path, class: "my-3", style: "color:white;" %>
        </nav><br>
        <nav class="clearfix">
          <ul class="nav nav-pills navbar-light navbar-right">
            <% if user_signed_in? %>
             <li class="mr-4", style="color:white;">
               ようこそ、<%= current_user.name %>さん！
             </li>
             <li>
               <%= link_to "マイページ", member_path(current_user.id), style: "color:white;", class: "mr-4" %>
             </li>
             <li>
               <%= link_to "記事一覧", articles_path, style: "color:white;", class: "mr-4" %>
             </li>
             <li>
               <%= link_to "新規投稿", new_article_path, style: "color:white;", class: "mr-4" %>
             </li>
             <li>
               <%= link_to "ログアウト", destroy_user_session_path, method: :delete, style: "color:white;", class: "mr-4"%>
             </li>
            <% else %>
             <li>
               <%= link_to "記事一覧", articles_path, style: "color:white;", class: "mr-4" %>
             </li>
             <li>
               <%= link_to "新規登録", new_user_registration_path, style: "color:white;", class: "mr-4" %>
             </li>
             <li>
               <%= link_to "ログイン", new_user_session_path, style: "color:white;", class: "mr-4" %>
             </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

  </body>
</html>
