<div class="container">

  <div class="row">
    <h3 class="my-3 float-left"> <%= @user.name%> さんの会員詳細</h3>
    <% if @user.id == current_user.id %>
      <div class="my-3 ml-5 float-right">
          <%= link_to "編集する", edit_members_path, class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

  <div class="row my-4">
    <div class="col-8">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th style="background-color: #d3d3d3;">ニックネーム</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th style="background-color: #d3d3d3;">よく遊ぶゲーム機</th>
            <td><%= @user.fav_machine %></td>
          </tr>
          <tr>
            <th style="background-color: #d3d3d3;">Twitter</th>
            <td><%= @user.twitter_id %></td>
          </tr>
          <tr>
            <th style="background-color: #d3d3d3;">Instagram</th>
            <td><%= @user.instagram_id %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h4> <%= @user.name%> さんの記事一覧</h4>
  </div>

  <div class="row">
    <div class="col-xs-10 table-responsive">
      <table class="table">
        <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= attachment_image_tag article, :image, :fill, 70, 35, format: 'jpg' %></td>
            <td><%= article.game_name %></td>
            <td><%= article.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
            <td><%= link_to article.user.name, member_path(article.user_id) %></td>
            <td><%= link_to "記事を読む", article_path(article.id), class: "btn btn-success" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="text-center">
        <%= paginate @articles %>
      </div>
    </div>
  </div>

</div>